<h1 class="title">All Posts</h1>
<table class="table">
  <thead>
    <tr class="table-header">
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Tags</th>
      <th scope="col">Excerpt</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles$ | async; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article?.author.username }}</td>
      <td>{{ article.tagList }}</td>
      <td>
        {{
          article.body.length > 20
            ? (article.body | slice: 0:20) + ".."
            : article.body
        }}
      </td>
      <td class="action-cell">
        {{ article.createdAt | date }}
        <div class="dropdown">
          <button
            class="btn btn-info dropdown-toggle"
            (click)="toggleDropdown(dropdown)"
          >
            ...
          </button>
          <ul
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenu"
            #dropdown
          >
            <li>
              <a class="dropdown-item" [routerLink]="['edit', article.slug]">
                Edit
              </a>
            </li>
            <li><a class="dropdown-item" (click)="onDelete(article)">Delete</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
