@font-face {
  font-family: 'Pragmatica-Medium';
  src: url('Pragmatica-Medium.eot');
  src: url('Pragmatica-Medium.eot?#iefix') format('embedded-opentype'),
       url('Pragmatica-Medium.svg#Pragmatica-Medium') format('svg'),
       url('Pragmatica-Medium.ttf') format('truetype'),
       url('Pragmatica-Medium.woff') format('woff'),
       url('Pragmatica-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

