<div class="header">
  <div class="right-side">
    <h1 class="site-title">Arvan Challenge</h1>
    <p>Welcome ( username )</p>
  </div>
  <div class="left-side">
    <button class="btn btn-outline-info">Logout</button>
  </div>
</div>

<div class="row main">
  <div class="col-2">
    <div class="sidebar bg-primary">
      <h4>Post</h4>
      <a routerLink="/articles" class="active">All Articles</a>
      <a routerLink="/articles/create">New Article</a>
    </div>
  </div>
  <div class="col-10 content p-0">
    <router-outlet></router-outlet>
  </div>
</div>
