.header {
    background-color: #373A3C;
    width: 100%;
    padding: 10px 29.3px 10px 20px;

    .site-title {
        font-size: 1.5rem;
    }
}

.sidebar {
    background-color: #1c7cd5;
    height: 100%;
}