:root {
  --warm-grey: #707070;
  --charcoal-grey: #373a3c;
  --dark-sky-blue: #5bc0de;
  --water-blue: #1c7cd5;
  --silver: #eceeef;
  --brick: #cb2e25;
  --low-opacity-white: rgba(255, 255, 255, 0.15);
  --medium-opacity-white: rgba(255, 255, 255, 0.4);
}
